build/*
!build/highres.jpg

!build/sequential-output
build/sequential-output/*
!build/sequential-output/time_results.txt

!build/omp-output
build/omp-output/*
!build/omp-output/time_results.txt

!build/mpi-output
build/mpi-output/*
!build/mpi-output/time_results.txt

!build/mpi-omp-output
build/mpi-omp-output/*
!build/mpi-omp-output/time_results.txt

.vscode